<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Imported CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"/>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand">Youtube Viewer</span>
    <a href="/shutdown" class="nav-justified">Exit Server</a>
</nav>

<section class="container p-0 mt-5">
    {% block section %}{% endblock %}
</section>

<!-- Imported JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>
</html>